.movie-book-section {
  .movie-header-section {
    img {
      width: 300px;
    }
    .movie-details {
      span {
        padding-bottom: 1.5rem;
      }
      button {
        bottom: 0;
      }
    }
  }
}
